ANTHROPIC_API_KEY=your_key_here
NOTION_TOKEN=your_notion_integration_secret
NOTION_CAPTURES_DB=your_captures_database_id
NOTION_RECAPS_DB=your_recaps_database_id
NOTION_DAILY_LOG_DB=your_daily_log_database_id
